@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 圖片reset */
img {
  max-width: 100%;
  height: auto;
}

/* css reset end */
/* 全站設定 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  /* 設計稿多處字體16px為css預設，故不另設font-size */
  color: #FFFFFF;
  background-color: #020202;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

/* 字體樣式 */
.fz-14 {
  font-size: 14px;
}
.fz-16 {
  font-size: 16px;
}
.fz-20 {
  font-size: 20px;
}
.fz-32 {
  font-size: 32px;
}
.fz-48 {
  font-size: 48px;
}
.fz-80 {
  font-size: 80px;
}
.fz-120 {
  font-size: 120px;
}
@media (max-width: 767px) {
  .fz-20-mb {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .fz-28-mb {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .fz-32-mb {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .fz-48-mb {
    font-size: 48px;
  }
}

.color-ff {
  color: #FFFFFF;
}
.color-52 {
  color: #525252;
}
.color-f2 {
  color: #F2F2F2;
}
.color-02 {
  color: #020202;
}
.color-91 {
  color: #919191;
}

/* font-weight: 400預設值 */
.fw-700 {
  font-weight: 700;
}
.fw-900 {
  font-weight: 900;
}

/* 行高 */
.lh-12 {
  line-height: 1.2;
}

/* 邊框樣式 */
.border {
  border: 1px solid #FFFFFF;
}
.border-line-52 {
  border: 1px solid #525252;
}
.border-line-f2 {
  border: 1px solid #F2F2F2;
}
.border-b-white {
  border-bottom: 1px solid #FFFFFF;
}
.border-ra-16 {
  border-radius: 16px;
}
.border-ra-160 {
  border-radius: 160px;
}
@media (max-width: 767px) {
  .border-ra-20-mb {
    border-radius: 20px;
  }
}

/* 間距 */
.mt-32 {
  margin-top: 32px;
}
.mt-40 {
  margin-top: 40px;
}

.mb-4 {
  margin-bottom: 4px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-100 {
  margin-bottom: 100px;
}
.mb-160 {
  margin-bottom: 160px;
}
.mb-238 {
  margin-bottom: 238px;
}
@media (max-width: 767px) {
  .mb-12-mb {
    margin-bottom: 12px;
  }
}
@media (max-width: 767px) {
  .mb-16-mb {
    margin-bottom: 16px;
  }
}
@media (max-width: 767px) {
  .mb-24-mb {
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .mb-32-mb {
    margin-bottom: 32px;
  }
}
@media (max-width: 767px) {
  .mb-36-mb {
    margin-bottom: 36px;
  }
}
@media (max-width: 767px) {
  .mb-40-mb {
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .mb-48-mb {
    margin-bottom: 48px;
  }
}
@media (max-width: 767px) {
  .mb-64-mb {
    margin-bottom: 64px;
  }
}
@media (max-width: 767px) {
  .mb-120-mb {
    margin-bottom: 120px;
  }
}
@media (max-width: 767px) {
  .mb-180-mb {
    margin-bottom: 180px;
  }
}
@media (max-width: 767px) {
  .mb-258-mb {
    margin-bottom: 258px;
  }
}

.mr-4 {
  margin-right: 4px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-12 {
  margin-right: 12px;
}
.mr-16 {
  margin-right: 16px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-24 {
  margin-right: 24px;
}
.mr-100 {
  margin-right: 100px;
}

.ptb-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.ptb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.ptb-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.ptb-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.ptb-160 {
  padding-top: 160px;
  padding-bottom: 160px;
}
@media (max-width: 767px) {
  .ptb-28-mb {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}
@media (max-width: 767px) {
  .ptb-80-mb {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.prl-16 {
  padding-left: 16px;
  padding-right: 16px;
}
.prl-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.prl-32 {
  padding-left: 32px;
  padding-right: 32px;
}
.prl-40 {
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 767px) {
  .prl-20-mb {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.pb-20 {
  padding-bottom: 20px;
}

.p-20-32 {
  padding: 20px 32px;
}

/* 排版 */
.text-a-r {
  text-align: right;
}
.text-a-c {
  text-align: center;
}

.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.d-none {
  display: none;
}
@media (max-width: 767px) {
  .d-none-mb {
    display: none;
  }
}
@media (max-width: 767px) {
  .d-block-mb {
    display: block;
  }
}

.flex-w-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.flex-d-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

.navbar-btn {
  display: none;
  cursor: pointer;
  color: #FFFFFF;
  background: none;
  border: 0;
}
.navbar-btn-menu.hide {
  display: none;
}
.navbar-btn-close.show {
  display: block;
}
.navbar-btn-collapse {
  display: none;
  width: 100%;
  height: 80px;
  position: absolute;
  top: 81px;
}
.navbar-btn-collapse a {
  padding: 8px 12px;
  text-align: center;
  display: block;
  width: 100%;
}
.navbar-btn-collapse a:hover {
  color: #FFFFFF;
  background: #525252;
}
.navbar-btn-collapse li:nth-child(2) {
  border-bottom: 1px solid #FFFFFF;
}
.navbar-btn-collapse.show {
  display: block;
}

header {
  position: relative;
  height: 80px;
}
header h1 a {
  width: 244.99px;
  height: 40px;
  display: block;
  background-size: contain;
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023web-camp/logo.png);
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
header img {
  width: 244.99px;
  height: 40px;
}
header a:hover {
  color: #525252;
}

.headerTitle.move-bottom {
  position: relative;
  top: 80px;
}
.headerTitle button {
  color: #FFFFFF;
  background: #020202;
  cursor: pointer;
}
.headerTitle button:hover {
  background: #525252;
}
.headerTitle-img {
  overflow: hidden;
  max-width: 100%;
}
.headerTitle-img img {
  width: 180px;
  height: 180px;
  object-fit: contain;
  animation-iteration-count: infinite;
}
.headerTitle-img img:nth-child(1) {
  animation-delay: 0.88s;
  animation-duration: 4s;
}
.headerTitle-img img:nth-child(2) {
  animation-delay: 0.76s;
  animation-duration: 4s;
}
.headerTitle-img img:nth-child(3) {
  animation-duration: 4s;
}

.aiTool {
  background-color: #FFFFFF;
}
.aiTool-search {
  position: relative;
}
.aiTool-search input {
  width: 100%;
  padding-left: 76px;
  border-radius: 16px;
  background: #F2F2F2;
  border: none;
  outline: none;
}
.aiTool-search .search {
  position: absolute;
  bottom: 16px;
  left: 40px;
}
.aiTool-filter button {
  background: #FFFFFF;
}
.aiTool-filter-btn {
  cursor: pointer;
  position: relative;
}
.aiTool-filter-btn:active {
  border: 1px solid #000;
}
.aiTool-filter > li:nth-child(3) {
  position: relative;
}
.aiTool-filter .dropdown-btn {
  cursor: pointer;
}
.aiTool-filter .dropdown-btn-filter {
  width: 240px;
  background: #FFFFFF;
  position: absolute;
  left: 10;
  margin-top: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.aiTool-filter .dropdown-btn-filter a {
  color: #020202;
}
.aiTool-filter .dropdown-btn-filter .filter-title {
  color: #919191;
  cursor: auto;
}
.aiTool-filter .dropdown-btn-filter > li:nth-child(1)::after {
  content: "";
  display: block;
  height: 1px;
  margin: 16px 40px 24px 40px;
  background-color: #919191;
}
.aiTool-filter .dropdown-btn-filter .filter-content {
  padding: 8px 40px;
  display: flex;
  justify-content: space-between;
}
.aiTool-filter .dropdown-btn-filter .filter-content:hover {
  color: #FFFFFF;
  background: #525252;
}
.aiTool-filter .dropdown-btn-filter .filter-content span.show {
  display: inline-block;
}
.aiTool-filter .dropdown-btn-filter.show {
  display: block;
}
.aiTool-filter .dropdown-btn-expandLess.show {
  display: block;
}
.aiTool-filter .dropdown-btn-expandMore.hide {
  display: none;
}
.aiTool-filter .dropdown-btn:active {
  border: 1px solid #000;
}
.aiTool-filter .dropdown-btn-menu {
  display: none;
  background: #FFFFFF;
  position: absolute;
  right: 0;
  margin-top: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.aiTool-filter .dropdown-btn-menu.show {
  display: block;
}
.aiTool-filter .dropdown-btn-menu a {
  display: block;
}
.aiTool-filter .dropdown-btn-menu a:hover {
  color: #FFFFFF;
  background: #525252;
}
.aiTool-type li:nth-child(1) a {
  background: #F2F2F2;
}
.aiTool-type li:hover a {
  background: #F2F2F2;
  font-weight: 700;
  border-radius: 16px;
}
.aiTool-type li a:hover {
  color: #020202;
}
.aiTool-card .card-img-top {
  overflow: hidden;
}
.aiTool-card .card-img-top img {
  height: 100%;
  object-fit: cover;
}
.aiTool-card li {
  /* 三欄每卡片寬度416/1296=32.098... */
  max-width: 32.1%;
  overflow: hidden;
}
.aiTool-pagination li {
  width: 48px;
  height: 48px;
}
.aiTool-pagination li button {
  padding: 10px 12px;
  color: #020202;
  border: none;
  background: transparent;
  cursor: pointer;
}
.aiTool-pagination li button:hover {
  color: #FFFFFF;
}
.aiTool-pagination li:nth-child(1) {
  background: #020202;
}
.aiTool-pagination li:nth-child(1) button {
  color: #FFFFFF;
}
.aiTool-pagination li:hover {
  background: #525252;
  border-radius: 16px;
}

.card-title {
  /* 讓這區塊的內容自適應撐高。上一層.card-body要寫display: flex與flex-direction: column */
  flex-grow: 1;
}
.card-body {
  border: 1px solid #F2F2F2;
  /* 解決邊框線條重疊 */
  margin: -1px;
}
.card-body img {
  width: 100%;
}
.card-body:nth-child(1) {
  margin-bottom: 24px;
}
.card-body:nth-child(2) {
  margin-bottom: 24px;
}
.card-body:nth-child(3) {
  margin-bottom: 24px;
}
.card-body img:hover {
  transform: scale(110%);
  transition: all 0.3s;
}
.card-list {
  border-top: 1px solid #F2F2F2;
}

.begin button {
  margin: 0 auto;
  color: #FFFFFF;
  background: #020202;
  cursor: pointer;
}
.begin button:hover {
  background: #525252;
}

.footer-title {
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
.footer-title-menu a:hover {
  color: #525252;
}
.footer-title img {
  width: 244.99px;
  height: 40px;
}
.footer-buttom a:hover {
  color: #525252;
}
.footer-buttom li:nth-child(2) {
  max-width: 73%;
}
.footer-buttom button {
  min-width: 117px;
  color: #FFFFFF;
  border: none;
  background: #020202;
  cursor: pointer;
}
.footer-buttom button:hover {
  color: #525252;
}

.service-title-mb {
  display: none;
}
.service-card li {
  width: 33%;
}

.partner-logo {
  overflow-x: auto;
  position: relative;
  overflow: hidden;
  gap: 20px;
}
.partner-logo::after, .partner-logo::before {
  content: "";
  position: absolute;
  width: 196px;
  height: 70px;
  top: 0;
}
.partner-logo::before {
  left: 0;
  background: linear-gradient(to left, transparent, #020202 75%);
}
.partner-logo::after {
  right: 0;
  background: linear-gradient(to right, transparent, #020202 75%);
}
.partner-logo img {
  display: inline-block;
  max-width: 160px;
  height: 40px;
  object-fit: cover;
}

.feedback .swiper-slide {
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0px 100px 80px rgba(18, 18, 18, 0.07), 0px 41.7776px 33.4221px rgba(18, 18, 18, 0.0503198), 0px 22.3363px 17.869px rgba(18, 18, 18, 0.0417275), 0px 12.5216px 10.0172px rgba(18, 18, 18, 0.035), 0px 6.6501px 5.32008px rgba(18, 18, 18, 0.0282725), 0px 2.76726px 2.21381px rgba(18, 18, 18, 0.0196802);
  display: flex;
  flex-direction: column;
  height: auto;
}
.feedback .swiper-slide > p {
  flex-grow: 1;
}
.feedback .swiper-pagination {
  position: relative;
  margin-top: 24px;
}
.feedback .swiper-pagination-bullet {
  background-color: #525252;
  opacity: 1;
}
.feedback .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: #FFFFFF;
}

.share:hover {
  color: #525252;
}

.flash_on,
.auto_awesome,
.library_add {
  font-size: 80px;
}

.star {
  font-size: 16px;
}

.arrow_upward {
  font-size: 16px;
}

.headerTitle h3 {
  width: 636px;
  margin-left: auto;
}
.headerTitle-img-price {
  justify-content: start;
  flex-wrap: nowrap;
}

.price-card > li {
  width: calc((100% - 32px) / 2);
}
.price-card > li:hover {
  border: 1px solid #FFFFFF;
}
.price-card-list {
  list-style: disc;
  margin-left: 32px;
  height: 164px;
}
.price-card-footer {
  border-top: 1px solid #525252;
}
.price-card-footer a:hover {
  color: #525252;
}

.question-block > ul {
  width: calc(100% - 312px);
}
.question-block-card a:hover {
  border: 1px solid #FFFFFF;
}
.question-block-card a.active {
  border: 2px solid #FFFFFF;
}
.question-block .add-icon.show {
  display: none;
}
.question-block .remove-icon.show {
  display: block;
}
.question-block-collapse.show {
  display: block;
  margin-top: 10px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .navbar-btn {
    display: block;
  }
}

@media (max-width: 767px) {
  header h1 a {
    width: 147px;
    height: 24px;
  }
  header-menu {
    display: none;
  }
  header img {
    width: 147px;
    height: 24px;
  }
}

@media (max-width: 767px) {
  .headerTitle h2 {
    width: 252px;
  }
  .headerTitle h3 {
    width: 257px;
  }
  .headerTitle-img img {
    width: 117px;
    height: 117px;
  }
}
@media (max-width: 375px) {
  .headerTitle-img img {
    width: 33.3333333333%;
  }
}

@media (max-width: 767px) {
  .service-title-mb {
    display: block;
  }
  .service-card li {
    width: 100%;
    margin-right: 0px;
  }
}

@media (max-width: 767px) {
  .partner-logo::after, .partner-logo::before {
    width: 15%;
  }
}

@media (max-width: 767px) {
  .feedback li {
    margin-right: 0px;
  }
}

@media (max-width: 767px) {
  .aiTool-card li {
    max-width: 100%;
  }
  .aiTool-filter {
    flex-wrap: wrap;
  }
  .aiTool-filter > li:nth-child(1) {
    order: 1;
  }
  .aiTool-filter > li:nth-child(2) {
    order: 3;
    margin: 0 auto;
  }
  .aiTool-filter > li:nth-child(3) {
    order: 2;
  }
  .aiTool-type {
    white-space: nowrap;
    overflow-x: scroll;
  }
}

@media (max-width: 767px) {
  .card-body:nth-child(1) {
    margin-bottom: 12px;
  }
  .card-body:nth-child(2) {
    margin-bottom: 12px;
  }
  .card-body:nth-child(3) {
    margin-bottom: 12px;
  }
}

@media (max-width: 767px) {
  .footer-title {
    flex-direction: column-reverse;
  }
  .footer-title img {
    width: 188.99px;
    height: 40px;
  }
  .footer-buttom li:nth-child(1) p {
    margin-right: 0px;
  }
  .footer-buttom li:nth-child(2) {
    order: 3;
  }
}

@media (max-width: 767px) {
  .price-card > li {
    width: 100%;
    margin-right: 0px;
  }
}

@media (max-width: 767px) {
  .use-norm-list {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (max-width: 767px) {
  .question-block > ul {
    width: 100%;
  }
}/*# sourceMappingURL=all.css.map */