// 表頭
.navbar-btn {
    display: none;
    cursor: pointer;
    color: #FFFFFF;
    background: none;
    border: 0;

    &-menu.hide {
        display: none;
    }

    &-close.show {
        display: block;
    }

    &-collapse {
        // 點擊漢堡選單前隱藏下拉選單 ul li
        display: none;
        // 定義下拉選單寬高
        width: 100%;
        height: 80px;
        position: absolute;
        // <header>高度80px，所以漢堡的下拉選單要定位在81px
        top: 81px;

        a {
            padding: 8px 12px;
            text-align: center;
            // hover效果為滑到該列時整列出現底色
            display: block;
            // <a>滿版
            width: 100%;

            &:hover {
                color: #FFFFFF;
                background: #525252;
            }
        }

        li:nth-child(2) {
            border-bottom: 1px solid #FFFFFF;
        }

        // // 點擊漢堡選單後，讓下拉選單 ul li 顯示
        &.show {
            display: block;
        }
    }
}

header {
    h1 {
        a {
            width: 244.99px;
            height: 40px;
            display: block;
            // 當圖片原始檔超出定義圖片寬、高，background-size(設置背景圖片大小): 屬性contain可讓圖片自適應
            background-size: contain;
            background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023web-camp/logo.png);
            text-indent: 101%;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    // 定位給.navbar-btn-collapse找父層用的(即定位起點依據)
    position: relative;
    // 固定<header>表頭高度
    height: 80px;

    img {
        width: 244.99px;
        height: 40px;
    }

    a:hover {
        color: #525252;
    }
}

.headerTitle {

    // 點擊漢堡選單後，h2這區塊的<section>向下位移80px
    &.move-bottom {
        position: relative;
        // .headerTitle上一層沒有定位，所以按照排版，會貼在<header>下底線。因下拉選單高度80，所以要下移80px
        top: 80px;
    }

    button {
        color: #FFFFFF;
        background: #020202;
        cursor: pointer;

        &:hover {
            background: #525252;
        }
    }

    &-img {
        // display: flex;
        // justify-content: end;
        overflow: hidden;
        // width: 540px;
        // height: 180px;
        max-width: 100%;

        img {
            width: 180px;
            height: 180px;
            // max-width: 100%;
            // height: auto;
            object-fit: contain;

            // // 引用動畫的 @keyframe 名稱(引用的 animate.css 有，此處可以不必寫)
            // animation: fadeInUp;
            // // 動畫播放次數
            animation-iteration-count: infinite;

            &:nth-child(1) {
                animation-delay: 0.88s;
                // animation-delay: 0.7s;
                // 設定持續時間
                animation-duration: 4s;
            }

            &:nth-child(2) {
                animation-delay: 0.76s;
                // animation-delay: 0.5s;
                // 設定持續時間
                animation-duration: 4s;
            }

            &:nth-child(3) {
                // animation-delay: 0.88s;
                // animation-delay: 0.3s;
                // 設定持續時間
                animation-duration: 4s;
            }

        }

        // 法2：利用keyframes微調動畫
        // @keyframes fadeInUp {
        //     0% {
        //         transform: translateY(100%)
        //     }

        //     25% {
        //         transform: translateY(0)
        //     }

        //     50% {
        //         transform: translateY(0)
        //     }

        //     60% {
        //         transform: translateY(-100%)
        //     }

        //     to {
        //         transform: translateY(-100%)
        //     }
        // }

        // .animate__fadeInUp {
        //     animation: fadeInUp 3s cubic-bezier(.05,.05,1,1) 1s infinite
        // }

        // @keyframes fadeInUp-1 {
        //     0% {
        //         transform: translateY(100%)
        //     }

        //     25% {
        //         transform: translateY(0)
        //     }

        //     50% {
        //         transform: translateY(0)
        //     }

        //     60% {
        //         transform: translateY(-100%)
        //     }

        //     to {
        //         transform: translateY(-100%)
        //     }
        // }

        // .animate__fadeInUp-1 {
        //     animation: fadeInUp-1 3s cubic-bezier(.05,.05,1,1) 0.88s infinite
        // }

        // @keyframes fadeInUp-2 {
        //     0% {
        //         transform: translateY(100%)
        //     }

        //     25% {
        //         transform: translateY(0)
        //     }

        //     50% {
        //         transform: translateY(0)
        //     }

        //     60% {
        //         transform: translateY(-100%)
        //     }

        //     to {
        //         transform: translateY(-100%)
        //     }
        // }

        // .animate__fadeInUp-2 {
        //     animation: fadeInUp-1 3s cubic-bezier(.05,.05,1,1) 0.76s infinite
        // }
    }
}