// 手機斷點
@mixin phone {
    @media (max-width:767px) {
        @content;
    }
}

// 手機(iphone 6)斷點
@mixin phone6 {
    @media (max-width:375px) {
        @content;
    }
}


// index.html
// 表頭
.navbar-btn {
    @include phone() {
        display: block;
    }
}


header {
    @include phone() {
        h1 {
            a {
                width: 147px;
                height: 24px;
            }
        }

        &-menu {
            display: none;
        }

        img {
            width: 147px;
            height: 24px;
        }
    }
}


// 標題
.headerTitle {
    @include phone() {
        h2 {
            width: 252px;
        }

        h3 {
            width: 257px;
        }

        &-img {
            img {
                width: 117px;
                height: 117px;
            }
        }
    }

    @include phone6() {
        &-img {
            img {
                // 讓小草動畫自適應當前解析度
                width: calc(100% / 3);
            }
        }
    }
}

// 我們的服務
.service {
    @include phone() {
        &-title-mb {
            display: block;
        }

        &-card {
            li {
                width: 100%;
                margin-right: 0px;
            }
        }
    }
}

// 合作夥伴
.partner {
    &-logo {
        @include phone() {

            //  偽元素在RWD時寬度改成百分比，寫死寬度當解析度變小，偽元素會擋到大部分中間的 logo 圖片
            &::after,
            &::before {
                // 偽元素寬度196/1296-0.151...
                width: 15%;
            }
        }
    }
}

// 顧客反饋
.feedback {
    @include phone() {
        li {
            margin-right: 0px;
        }
    }

}

// AI工具列表
.aiTool {
    @include phone() {

        // 卡片區塊
        &-card {
            li {
                max-width: 100%;
            }
        }

        &-filter {
            //  flex元素換行
            flex-wrap: wrap;

            >li:nth-child(1) {
                order: 1;
            }

            >li:nth-child(2) {
                order: 3;
                margin: 0 auto;
            }

            >li:nth-child(3) {
                order: 2;
            }
        }

        &-type {
            // 換行處理
            white-space: nowrap;
            overflow-x: scroll;
        }
    }
}

// 卡片內容
.card {
    @include phone() {
        &-body {
            &:nth-child(1) {
                margin-bottom: 12px;
            }

            &:nth-child(2) {
                margin-bottom: 12px;
            }

            &:nth-child(3) {
                margin-bottom: 12px;
            }
        }
    }
}

// 表尾
.footer {
    @include phone() {
        &-title {
            flex-direction: column-reverse;

            img {
                width: 188.99px;
                height: 40px;
            }
        }

        &-buttom {
            flex-wrap: wrap;
            li:nth-child(1) {
                // flex-direction: column;
                padding-bottom: 36px;
                margin-right: 0;

                p {
                    margin-right: 0px;
                }
            }

            li:nth-child(2) {
                order: 3;
            }

            li:nth-child(3) {
                padding-bottom: 36px;
                order: 2;
            }
        }
    }
}


// pricing.html
// 定價
.price-card {
    @include phone() {
        &>li {
            width: 100%;
            margin-right: 0px;
        }
    }
}

// 使用規範
.use-norm {
    @include phone() {
        &-list {
            font-size: 16px;
            line-height: 1.5;
        }
    }
}

// 常見問題
.question-block {
    @include phone() {
        >ul {
            // <h3>與問答區塊間距312px
            width: 100%;
        }
    }
}