/* 排版 */
.text {
    &-a-r {
        text-align: right;
    }

    &-a-c {
        text-align: center;
    }
}

.d {
    &-block {
        display: block;
    }

    &-flex {
        display: flex;
    }

    &-none {
        display: none;
    }

    &-none-mb {
        @media (max-width:767px) {
            display: none;
        }
    }

    &-block-mb {
        @media (max-width:767px) {
            display: block;
        }
    }
}

.flex-w-wrap {
    flex-wrap: wrap;
}

// 主軸對齊
.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}

.justify-center {
    justify-content: center;
}

// 主軸
.flex-d-column {
    flex-direction: column;
}

// 交錯軸對齊
.align-center {
    align-items: center;
}