/* 排版 */
.text {
    &-a-r {
        text-align: right;
    }

    &-a-c {
        text-align: center;
    }
}

.d {
    &-block {
        display: block;
    }

    &-flex {
        display: flex;
    }

    &-none {
        display: none;
    }

    &-none-mb {
        @media (max-width:767px) {
            display: none;
        }
    }

    &-block-mb {
        @media (max-width:767px) {
            display: block;
        }
    }
}

.fxww {
    flex-wrap: wrap;
}

// 主軸對齊
.jccsb {
    justify-content: space-between;
}

.jce {
    justify-content: end;
}

.jcc {
    justify-content: center;
}

// 主軸
.fxdc {
    flex-direction: column;
}

// 交錯軸
.aic {
    align-items: center;
}