/* 全站設定 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.5;
    /* 設計稿多處字體16px為css預設，故不另設font-size */
    color: #FFFFFF;
    background-color: #1E1E1E;
}

a{
    color: #FFFFFF;
    text-decoration:none;
}