/* 邊框樣式 */
.border {
    border: 1px solid #FFFFFF;

    &-line-52 {
        border: 1px solid #525252;
    }

    &-line-f2 {
        border: 1px solid #F2F2F2;
    }

    &-b-white {
        border-bottom: 1px solid #FFFFFF;
    }

    &-ra {
        &-16 {
            border-radius: 16px;
        }

        &-160 {
            border-radius: 160px;
        }

        &-20-mb {
            @media (max-width:767px) {
                border-radius: 20px;
            }
        }
    }
}